<div class="jumbtron">
    <h1 class="display-4 text-center">Empleados</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <div class="text-center">
                Agregar empleado
            </div>
            <app-employee></app-employee>
        </div>
        <div class="col-md-7">
            <div class="text-center">
                Listado de empleados
            </div>
            <app-list-employees></app-list-employees>
        </div>
    </div>
    
</div>